langchain
langchain-core
langchain-community
langchain-chroma
chromadb
pypdf
sentence-transformers
ollama
reportlab
langchain-tavily
langchain-ollama
langgraph>=0.2.34
python-dotenv
streamlit>=1.28.0
plotly>=5.15.0
pandas>=2.0.0
matplotlib>=3.7.0
seaborn>=0.12.0
pillow>=10.0.0
tzdata
wikipedia
wikipedia-api
newspaper3k
duckduckgo-search
tavily-python>=0.3.6
newsapi-python
psycopg
lxml_html_clean