langchain
langgraph
langchain-tavily
langchain-ollama
langchain-google-genai
tzdata
wikipedia
wikipedia-api
newspaper4k
newsapi-python
psycopg[binary]
ddgs
python-dotenv
lxml_html_clean
fastapi
uvicorn
pydantic-settings
openai
chromadb
sentence_transformers
transformers
# Materials + Content Generation Dependencies
plotly==5.24.1
kaleido
moviepy
pillow
replicate
requests
numpy
langchain-anthropic
