langchain
langchain-core
langchain-community
langgraph
langchain-tavily
langchain-ollama

# ✅ Updated to fix startup crash
langchain-google-genai>=1.0.0
google-generativeai>=0.5.4

tzdata
wikipedia
wikipedia-api
newspaper4k
newsapi-python
psycopg[binary]
ddgs
python-dotenv
lxml_html_clean
fastapi
uvicorn
pydantic-settings
openai
chromadb
sentence_transformers
transformers
plotly==6.1.1
kaleido
moviepy
pillow
replicate
requests
numpy
langchain-anthropic
